.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color:  white;
    height: 200px;
<<<<<<< HEAD
=======
    margin-top: 50px;
>>>>>>> 0ba4e82 (nuevo)
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    margin: 10%;
}